Name = {{ inventory_hostname }}
{% for host in hostvars -%}
  {% if inventory_hostname != hostvars[host]['inventory_hostname'] -%}
    {% if hostvars[host]['tinc_public'] is defined -%}
      ConnectTo = {{ hostvars[host]['inventory_hostname'] }}
    {%- endif %}
  {%- endif %}
{% endfor %}
