auto {{ tinc_netname }}bridge
iface {{ tinc_netname }}bridge inet static
        address {{ tinc_subnet | ipaddr('-2') | ipaddr('address') }}
        netmask {{ tinc_subnet | ipaddr('netmask') }}
        post-up ip route add {{ tinc_subnet }} via {{ tinc_ip }} dev {{ tinc_netname }}
        post-up echo 1 > /proc/sys/net/ipv4/conf/{{ tinc_netname }}bridge/proxy_arp
        pre-down ip route del {{ tinc_subnet }} via {{ tinc_ip }} dev {{ tinc_netname }}
        pre-down echo 0 > /proc/sys/net/ipv4/conf/{{ tinc_netname }}bridge/proxy_arp
